\*.mp4 filter=lfs diff=lfs merge=lfs -text
assets/img/portfolio/demoui/BetterVersion01.mp4 filter=lfs diff=lfs merge=lfs -text
assets/img/portfolio/demoui/BetterVersion02.mp4 filter=lfs diff=lfs merge=lfs -text
assets/img/portfolio/demoui/demoui.png filter=lfs diff=lfs merge=lfs -text
assets/img/portfolio/demoui/LowVersion.mp4 filter=lfs diff=lfs merge=lfs -text
